* {
  box-sizing: border-box;
}

@keyframes icn-float {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}
#solution-title {
  display: none;
}

li {
  list-style: none;
}

a, a:hover, a:active, a:focus {
  text-decoration: none !important;
  cursor: pointer;
}

p {
  margin-bottom: auto !important;
}

html {
  font-size: 16px;
  font-family: "galano_grotesqueregular", Helvetica, Arial, sans-serif;
}
html body .popup {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
}
html body .popup .popup-content {
  background-color: white;
  width: 90%;
  height: 90vh;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding: 0;
}
html body .popup .popup-content button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 40px;
  border: 0;
  outline: none;
  cursor: pointer;
  background: none;
  font-size: 32px;
  z-index: 1;
  top: 0;
  right: 9px;
}
html body .popup .popup-content .popup-body {
  padding: 20px;
  border-radius: 0 !important;
  position: relative;
  height: 100%;
}
html body .popup .popup-content .popup-body .text .title {
  font-family: "galano_grotesquesemibold";
  font-size: 24px;
}
html body .popup .popup-content .popup-body .text .model-name {
  font-size: 18px;
  color: #575757;
  font-family: "galano_grotesqueregular";
  margin: 15px 0;
}
html body .popup .popup-content .popup-body .text ul {
  padding-left: 20px;
}
html body .popup .popup-content .popup-body .text ul li {
  list-style: disc;
  line-height: 22px;
}
html body .popup .popup-content .popup-body .image img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  html body .popup .horizontal {
    width: 73vw;
    height: 70vh;
    max-width: 1200px;
  }
  html body .popup .horizontal .popup-body {
    display: flex;
    padding: 40px 0 40px 10px;
    overflow: hidden;
  }
  html body .popup .horizontal .popup-body .text, html body .popup .horizontal .popup-body .image {
    flex: 1;
  }
  html body .popup .horizontal .popup-body .text {
    height: 100%;
    overflow-y: scroll;
    padding: 0 15px 0 40px;
  }
  html body .popup .horizontal .popup-body .image {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 1400px) {
  html body .popup .horizontal {
    height: 60vh;
  }
}
html body .show {
  display: flex !important;
}
html body section.banner {
  height: 50vh;
  background-image: url(../../../assets/solutions/5G_solution_page/5g_homepage_banner_640x500_191226.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  html body section.banner {
    background-image: url(../../../assets/solutions/5G_solution_page/5g_homepage_banner_1920x982_191226.jpg);
  }
}
@media screen and (min-width: 768px) and (min-width: 992px) {
  html body section.banner {
    height: calc(95vh - 165px);
  }
}
html body nav.second-nav {
  background-color: #eeeeee;
  width: 100%;
  overflow-x: scroll;
  padding: 14px 0;
  z-index: 1040;
}
html body nav.second-nav ul {
  width: max-content;
  margin: auto;
}
html body nav.second-nav ul li {
  display: inline-block;
  padding: 0 5px;
}
html body nav.second-nav ul li a {
  color: #575757;
  border-radius: 7px;
  padding: 5px 10px;
  display: inline-block;
}
html body nav.second-nav ul li a:hover {
  text-decoration: none;
  font-family: "galano_grotesquesemibold";
}
@media screen and (min-width: 1200px) {
  html body nav.second-nav ul li a {
    font-size: 18px;
  }
}
html body nav.second-nav ul li .active {
  background-color: #00b2ff;
  color: black;
}
@media screen and (min-width: 992px) {
  html body nav.second-nav {
    padding: 18px 0;
  }
}
@media screen and (min-width: 992px) and (min-width: 1043px) {
  html body nav.second-nav {
    overflow: hidden;
  }
}
html body .navScrolled {
  position: fixed;
  top: 0;
  z-index: 1234;
}
html body section.brief {
  background-color: #f9f7f7;
  padding-top: 20px;
  padding-bottom: 30px;
}
html body section.brief .frame {
  width: 90%;
  margin: auto;
  max-width: 1450px;
}
html body section.brief .frame .title {
  color: #575757;
  font-family: "galano_grotesquesemibold";
  font-size: 24px;
}
@media screen and (min-width: 1200px) {
  html body section.brief .frame .title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1200px) and (min-width: 1400px) {
  html body section.brief .frame .title {
    font-size: 42px;
  }
}
html body section.brief .frame .content {
  color: #575757;
  margin-top: 15px;
}
@media screen and (min-width: 992px) {
  html body section.brief .frame .content {
    margin-top: 25px;
    line-height: 22px;
  }
}
@media screen and (min-width: 992px) {
  html body section.brief {
    padding: 60px 0;
  }
}
@media screen and (min-width: 992px) and (min-width: 1200px) {
  html body section.brief {
    padding: 110px 0;
  }
}
html body section.solution-benifits {
  padding: 30px 0;
}
html body section.solution-benifits .frame {
  width: 90%;
  margin: auto;
  max-width: 1700px;
}
html body section.solution-benifits .frame .title {
  color: #575757;
  text-align: center;
  font-family: "galano_grotesquesemibold";
  font-size: 28px;
}
@media screen and (min-width: 992px) {
  html body section.solution-benifits .frame .title {
    font-size: 36px;
  }
}
@media screen and (min-width: 992px) and (min-width: 1200px) {
  html body section.solution-benifits .frame .title {
    font-size: 52px;
    padding: 20px 0;
  }
}
html body section.solution-benifits .frame .box-wrap {
  margin-top: 15px;
}
html body section.solution-benifits .frame .box-wrap .box {
  margin-top: 30px;
}
html body section.solution-benifits .frame .box-wrap .box img {
  width: 100%;
}
html body section.solution-benifits .frame .box-wrap .box .text {
  margin-top: 15px;
}
html body section.solution-benifits .frame .box-wrap .box .text .title {
  color: black;
  font-size: 20px;
  text-align: left;
}
@media screen and (min-width: 992px) {
  html body section.solution-benifits .frame .box-wrap .box .text .title {
    font-size: 26px;
  }
}
@media screen and (min-width: 992px) and (min-width: 1200px) {
  html body section.solution-benifits .frame .box-wrap .box .text .title {
    font-size: 31px;
    padding: 10px 0;
  }
}
@media screen and (min-width: 992px) and (min-width: 1200px) and (min-width: 1400px) {
  html body section.solution-benifits .frame .box-wrap .box .text .title {
    font-size: 37px;
  }
}
html body section.solution-benifits .frame .box-wrap .box .text .content {
  margin-top: 15px;
}
@media screen and (min-width: 1200px) {
  html body section.solution-benifits .frame .box-wrap .box .text .content {
    line-height: 22px;
  }
}
@media screen and (min-width: 768px) {
  html body section.solution-benifits .frame .box-wrap .box {
    width: 48%;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  html body section.solution-benifits .frame .box-wrap .box {
    width: 42%;
  }
}
html body section.solution-benifits .frame .box-wrap .left, html body section.solution-benifits .frame .box-wrap .right {
  max-width: 590px;
}
@media screen and (min-width: 1400px) {
  html body section.solution-benifits .frame .box-wrap .left {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1400px) {
  html body section.solution-benifits .frame .box-wrap .right {
    margin-left: 40px;
  }
}
@media screen and (min-width: 768px) {
  html body section.solution-benifits .frame .box-wrap .down img {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  html body section.solution-benifits .frame .box-wrap .down .text {
    padding-right: 25px;
    align-self: center;
  }
}
@media screen and (min-width: 768px) {
  html body section.solution-benifits .frame .box-wrap .down {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 768px) and (min-width: 992px) {
  html body section.solution-benifits .frame .box-wrap .down {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  html body section.solution-benifits .frame .box-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  html body section.solution-benifits .frame .box-wrap {
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) and (min-width: 1400px) {
  html body section.solution-benifits .frame .box-wrap {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  html body section.solution-benifits {
    background: white;
    /* Old browsers */
    background: -webkit-linear-gradient(white 0%, white 70%, #eeeeee 100%);
    background: -o-linear-gradient(white 0%, white 70%, #eeeeee 100%);
    background: linear-gradient(white 0%, white 70%, #eeeeee 100%);
  }
}
@media screen and (min-width: 768px) and (min-width: 992px) {
  html body section.solution-benifits {
    padding: 60px 0;
  }
}
html body section.sn-nsa {
  padding-bottom: 40px;
}
html body section.sn-nsa .frame {
  height: 100%;
}
html body section.sn-nsa .frame .image {
  height: 78vw;
  background-image: url(../../../assets/solutions/5G_solution_page/sa_nsa_dual_mode_image.png);
  background-size: cover;
  background-position: left;
}
@media screen and (min-width: 768px) {
  html body section.sn-nsa .frame .image {
    display: none;
  }
}
html body section.sn-nsa .frame .text {
  width: 90%;
  margin: auto;
  margin-top: 15px;
  max-width: 900px;
}
html body section.sn-nsa .frame .text .title {
  font-family: "galano_grotesquesemibold";
  font-size: 20px;
}
@media screen and (min-width: 1200px) {
  html body section.sn-nsa .frame .text .title {
    font-size: 28px;
  }
}
html body section.sn-nsa .frame .text .content {
  margin-top: 15px;
}
html body section.sn-nsa .frame .text .button {
  background-color: #00b2ff;
  color: white;
  font-family: "galano_grotesquesemibold";
  padding: 6px 15px;
  padding-right: 25px;
  display: inline-block;
  border-radius: 10px;
  margin-top: 15px;
}
html body section.sn-nsa .frame .text .button .arrow {
  position: relative;
}
html body section.sn-nsa .frame .text .button .arrow:before {
  position: absolute;
  top: -14px;
  left: 5px;
  animation: icn-float 1s linear infinite;
}
@media screen and (min-width: 1200px) {
  html body section.sn-nsa .frame .text .button {
    margin-top: 25px;
    padding: 10px 25px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 768px) {
  html body section.sn-nsa .frame .text {
    width: 50%;
    margin: initial;
  }
}
@media screen and (min-width: 768px) and (min-width: 992px) {
  html body section.sn-nsa .frame .text {
    align-self: center;
    width: 58%;
  }
}
@media screen and (min-width: 768px) and (min-width: 992px) and (min-width: 1200px) {
  html body section.sn-nsa .frame .text {
    width: 55%;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  html body section.sn-nsa .frame {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  html body section.sn-nsa {
    background-image: url(../../../assets/solutions/5G_solution_page/sa_nsa_dual_mode_image.png);
    background-size: 73%;
    background-repeat: no-repeat;
    padding: 40px 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 992px) {
  html body section.sn-nsa {
    background-size: 80%;
    height: 44vw;
    background-position-x: -30%;
  }
}
html body section.sn-nsa-hidden {
  background-color: white;
}
html body section.sn-nsa-hidden .switch-wrap {
  background-color: #00b2ff;
}
html body section.sn-nsa-hidden .switch-wrap ul.switch {
  width: 100%;
  background-color: #00b2ff;
  display: flex;
  max-width: 1060px;
  margin: auto;
}
html body section.sn-nsa-hidden .switch-wrap ul.switch li {
  flex: 1;
  text-align: center;
  background-color: #004fee;
}
html body section.sn-nsa-hidden .switch-wrap ul.switch li a {
  color: white;
  font-family: "galano_grotesquesemibold";
  font-size: 18px;
  display: block;
  padding: 10px 0;
  position: relative;
}
@media screen and (min-width: 1200px) {
  html body section.sn-nsa-hidden .switch-wrap ul.switch li a {
    font-size: 24px;
  }
}
html body section.sn-nsa-hidden .switch-wrap ul.switch li .active {
  background-color: #0079ff;
}
html body section.sn-nsa-hidden .switch-wrap ul.switch li .active:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #0079ff transparent transparent transparent;
  top: 100%;
  left: calc(50% - 10px);
}
html body section.sn-nsa-hidden .panel {
  padding: 30px 0 20px 0;
  border: 0;
  box-shadow: none;
  margin: 0;
}
html body section.sn-nsa-hidden .panel .frame {
  width: 90%;
  margin: auto;
  max-width: 1200px;
  margin: auto;
}
html body section.sn-nsa-hidden .panel .frame .title {
  color: #575757;
  font-family: "galano_grotesquesemibold";
  font-size: 26px;
}
@media screen and (min-width: 1200px) {
  html body section.sn-nsa-hidden .panel .frame .title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) and (min-width: 1400px) {
  html body section.sn-nsa-hidden .panel .frame .title {
    font-size: 37px;
  }
}
html body section.sn-nsa-hidden .panel .frame img {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: auto;
}
@media screen and (min-width: 1400px) {
  html body section.sn-nsa-hidden .panel .frame img {
    max-width: initial;
  }
}
@media screen and (min-width: 768px) {
  html body section.sn-nsa-hidden .panel .frame img.intro {
    width: 70%;
    max-width: 450px;
    margin-top: 30px;
    margin: 0;
    margin-top: 35px;
    margin-left: calc(50% - 400px);
  }
}
@media screen and (min-width: 768px) and (min-width: 1400px) {
  html body section.sn-nsa-hidden .panel .frame img.intro {
    max-width: 600px;
    margin-top: 60px;
    margin-left: 0;
  }
}
html body section.sn-nsa-hidden .panel .frame .structure-img {
  margin-top: 15px;
}
@media screen and (min-width: 1200px) {
  html body section.sn-nsa-hidden .panel .frame .structure-img {
    margin-top: 55px;
  }
}
@media screen and (min-width: 1200px) {
  html body section.sn-nsa-hidden .panel {
    padding: 60px 0;
  }
}
html body section.nr-solution {
  padding-bottom: 40px;
}
html body section.nr-solution .frame .image {
  height: 100vw;
  background-image: url(../../../assets/solutions/5G_solution_page/5g_nr_solution_diagram_01.jpg);
  background-size: cover;
  background-position: right;
}
@media screen and (min-width: 768px) {
  html body section.nr-solution .frame .image {
    display: none;
  }
}
html body section.nr-solution .frame img.intro-img {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 14px;
}
@media screen and (min-width: 768px) {
  html body section.nr-solution .frame img.intro-img {
    display: none;
  }
}
html body section.nr-solution .frame .text {
  width: 90%;
  margin: auto;
  margin-top: 15px;
}
html body section.nr-solution .frame .text .title {
  font-family: "galano_grotesquesemibold";
  font-size: 20px;
}
@media screen and (min-width: 1200px) {
  html body section.nr-solution .frame .text .title {
    font-size: 28px;
  }
}
html body section.nr-solution .frame .text .content {
  margin-top: 15px;
}
@media screen and (min-width: 1200px) {
  html body section.nr-solution .frame .text .content {
    margin-top: 24px;
  }
}
html body section.nr-solution .frame .text img.intro-img {
  width: 100%;
  margin-top: 15px;
  display: none;
  max-width: 350px;
}
@media screen and (min-width: 768px) {
  html body section.nr-solution .frame .text img.intro-img {
    display: block;
  }
}
@media screen and (min-width: 768px) and (min-width: 992px) {
  html body section.nr-solution .frame .text img.intro-img {
    margin-top: 5vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 992px) and (min-width: 1200px) {
  html body section.nr-solution .frame .text img.intro-img {
    margin-top: 8vw;
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 992px) and (min-width: 1200px) and (min-width: 1400px) {
  html body section.nr-solution .frame .text img.intro-img {
    max-width: 550px;
  }
}
@media screen and (min-width: 768px) {
  html body section.nr-solution .frame .text {
    width: 50%;
    margin: initial;
  }
}
@media screen and (min-width: 768px) and (min-width: 992px) {
  html body section.nr-solution .frame .text {
    align-self: center;
  }
}
@media screen and (min-width: 768px) {
  html body section.nr-solution .frame {
    display: flex;
    width: 90%;
    margin: auto;
  }
}
@media screen and (min-width: 768px) and (min-width: 992px) {
  html body section.nr-solution .frame {
    height: 100%;
  }
}
@media screen and (min-width: 768px) {
  html body section.nr-solution {
    background-image: url(../../../assets/solutions/5G_solution_page/5g_nr_solution_diagram_01.jpg);
    background-size: cover;
    background-position: right;
    padding: 40px 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 992px) {
  html body section.nr-solution {
    height: 50vw;
  }
}
html body section.scenarios-mobile .cat {
  background-color: #003eab;
  text-align: center;
  padding: 10px;
}
html body section.scenarios-mobile .cat .title {
  color: white;
  text-align: center;
  font-family: "galano_grotesquesemibold";
  font-size: 28px;
  padding: 15px 0;
}
html body section.scenarios-mobile .cat .img {
  width: 150px;
  height: 150px;
  background-image: url(../../../assets/solutions/5G_solution_page/5g_nr_solution_3house_icon_01.png);
  background-size: cover;
  display: block;
  margin: auto;
  border: 3px solid white;
  margin-top: 10px;
}
html body section.scenarios-mobile .cat .name {
  color: white;
  padding: 7px;
  font-family: "galano_grotesquesemibold" !important;
}
html body section.scenarios-mobile .cat i {
  color: white;
  animation: icn-float 1s linear infinite;
}
html body section.scenarios-mobile .indoor .img {
  background-image: url(../../../assets/solutions/5G_solution_page/5g_nr_solution_3house_icon_02.png);
}
html body section.scenarios-mobile .basement .img {
  background-image: url(../../../assets/solutions/5G_solution_page/5g_nr_solution_3house_icon_03.png);
}
html body section.scenarios-mobile .scenario-outdoor-img {
  height: 60vw;
  background-image: url(../../../assets/solutions/5G_solution_page/5g_nr_solution_diagram_02.jpg);
  background-size: 180%;
  background-position: 10% bottom;
}
html body section.scenarios-mobile .scenario-indoor-img {
  height: 83vw;
  background-image: url(../../../assets/solutions/5G_solution_page/5g_nr_solution_diagram_03.jpg);
  background-size: 177%;
  background-position-x: right;
  background-repeat: no-repeat;
}
html body section.scenarios-mobile .scenario-basement-img {
  height: 72vw;
  background-image: url(../../../assets/solutions/5G_solution_page/5g_nr_solution_diagram_04.jpg);
  background-size: cover;
}
html body section.scenarios-mobile .intro-img {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 15px;
}
html body section.scenarios-mobile .cat-description {
  padding: 5%;
}
html body section.scenarios-mobile .cat-description p.title {
  font-family: "galano_grotesquesemibold";
  font-size: 18px;
}
html body section.scenarios-mobile .cat-description p.content {
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  html body section.scenarios-mobile {
    display: none;
  }
}
html body section.scenarios {
  display: none;
  background-color: #003eab;
  padding: 25px 0;
}
html body section.scenarios .frame {
  width: 80%;
  margin: auto;
}
html body section.scenarios .frame .title {
  color: white;
  text-align: center;
  font-family: "galano_grotesquesemibold";
  font-size: 28px;
}
@media screen and (min-width: 992px) {
  html body section.scenarios .frame .title {
    font-size: 36px;
  }
}
@media screen and (min-width: 992px) and (min-width: 1200px) {
  html body section.scenarios .frame .title {
    font-size: 52px;
  }
}
html body section.scenarios .frame .cat-wrap {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
}
html body section.scenarios .frame .cat-wrap .cat {
  text-align: center;
  outline: none;
  cursor: pointer;
}
html body section.scenarios .frame .cat-wrap .cat .img {
  width: 150px;
  height: 150px;
  border: 3px solid white;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  html body section.scenarios .frame .cat-wrap .cat .img {
    width: 205px;
    height: 205px;
  }
}
@media screen and (min-width: 1200px) and (min-width: 1400px) {
  html body section.scenarios .frame .cat-wrap .cat .img {
    width: 24vw;
    height: 23vw;
    max-width: 352px;
    max-height: 325px;
  }
}
html body section.scenarios .frame .cat-wrap .cat .name {
  color: white;
  padding: 7px;
  font-family: "galano_grotesquesemibold" !important;
}
@media screen and (min-width: 1200px) {
  html body section.scenarios .frame .cat-wrap .cat .name {
    font-size: 24px;
  }
}
html body section.scenarios .frame .cat-wrap .cat i {
  color: white;
  animation: icn-float 1s linear infinite;
}
@media screen and (min-width: 1200px) {
  html body section.scenarios .frame .cat-wrap .cat i {
    font-size: 24px;
  }
}
html body section.scenarios .frame .cat-wrap .cat:hover .img {
  border: 3px solid #ffc800;
  transition: all 0.2s ease;
}
html body section.scenarios .frame .cat-wrap .cat:hover .name, html body section.scenarios .frame .cat-wrap .cat:hover i {
  color: #ffc800;
  transition: all 0.2s ease;
}
html body section.scenarios .frame .cat-wrap .active .img {
  border-color: #ffc800;
}
html body section.scenarios .frame .cat-wrap .active .name, html body section.scenarios .frame .cat-wrap .active i {
  color: #ffc800;
}
html body section.scenarios .frame .cat-wrap .outdoor .img {
  background-image: url(../../../assets/solutions/5G_solution_page/5g_nr_solution_3house_icon_01.png);
  background-size: cover;
}
html body section.scenarios .frame .cat-wrap .indoor .img {
  background-image: url(../../../assets/solutions/5G_solution_page/5g_nr_solution_3house_icon_02.png);
  background-size: cover;
}
html body section.scenarios .frame .cat-wrap .basement .img {
  background-image: url(../../../assets/solutions/5G_solution_page/5g_nr_solution_3house_icon_03.png);
  background-size: cover;
}
@media screen and (min-width: 992px) {
  html body section.scenarios .frame .cat-wrap {
    margin-top: 5vw;
  }
}
@media screen and (min-width: 768px) {
  html body section.scenarios {
    display: block;
  }
}
@media screen and (min-width: 768px) and (min-width: 992px) {
  html body section.scenarios {
    padding: 40px 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 992px) and (min-width: 1200px) {
  html body section.scenarios {
    padding: 60px 0;
  }
}
html body section.scenarios-panel {
  display: none;
}
html body section.scenarios-panel .outdoor {
  width: 100%;
  background-image: url(../../../assets/solutions/5G_solution_page/5g_nr_solution_diagram_02.jpg);
  background-size: cover;
  background-position-x: 110%;
  background-repeat: no-repeat;
  height: 50vw;
}
html body section.scenarios-panel .outdoor .frame {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
html body section.scenarios-panel .outdoor .frame .text {
  width: 47%;
}
html body section.scenarios-panel .outdoor .frame .text img.intro-img {
  position: absolute;
  width: 300px;
  right: 0;
  bottom: 40px;
}
@media screen and (min-width: 1200px) {
  html body section.scenarios-panel .outdoor .frame .text img.intro-img {
    width: 400px;
  }
}
html body section.scenarios-panel .indoor {
  width: 100%;
  background-image: url(../../../assets/solutions/5G_solution_page/5g_nr_solution_diagram_03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 50vw;
}
html body section.scenarios-panel .indoor .frame {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
html body section.scenarios-panel .indoor .frame .text {
  width: 33%;
}
html body section.scenarios-panel .indoor .frame .text img {
  width: 200px;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  html body section.scenarios-panel .indoor .frame .text img {
    width: 300px;
  }
}
html body section.scenarios-panel .basement {
  width: 100%;
  background-image: url(../../../assets/solutions/5G_solution_page/5g_nr_solution_diagram_04.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
}
html body section.scenarios-panel .basement .frame {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}
html body section.scenarios-panel .basement .frame .text {
  width: 40%;
  padding-bottom: 5%;
}
html body section.scenarios-panel .basement .frame .text img {
  width: 300px;
  position: absolute;
  right: 0;
  top: 39%;
}
@media screen and (min-width: 1200px) {
  html body section.scenarios-panel .basement .frame .text img {
    width: 400px;
  }
}
html body section.scenarios-panel .basement .frame .text p.content {
  margin-top: 5px;
}
@media screen and (min-width: 1200px) {
  html body section.scenarios-panel .basement .frame .text {
    padding-bottom: 10%;
  }
}
html body section.scenarios-panel .scene {
  display: none;
}
html body section.scenarios-panel .active {
  display: block;
}
html body section.scenarios-panel p.title {
  font-family: "galano_grotesquesemibold";
  font-size: 18px;
}
@media screen and (min-width: 1200px) {
  html body section.scenarios-panel p.title {
    font-size: 28px;
  }
}
html body section.scenarios-panel p.content {
  margin-top: 25px;
}
@media screen and (min-width: 768px) {
  html body section.scenarios-panel {
    display: block;
  }
}
html body section.zyxel-lte {
  background-color: #f2f2f2;
  padding: 20px 0;
}
html body section.zyxel-lte .frame img.mobile-img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  html body section.zyxel-lte .frame img.mobile-img {
    display: none;
  }
}
html body section.zyxel-lte .frame .image {
  display: none;
}
@media screen and (min-width: 768px) {
  html body section.zyxel-lte .frame .image img {
    width: 56%;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  html body section.zyxel-lte .frame .image img {
    width: 62%;
  }
}
@media screen and (min-width: 768px) {
  html body section.zyxel-lte .frame .image {
    display: block;
    flex: 2;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 40px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  html body section.zyxel-lte .frame .image {
    padding: 0;
    margin-right: 6vw;
  }
}
html body section.zyxel-lte .frame .text {
  width: 90%;
  margin: auto;
}
html body section.zyxel-lte .frame .text .title {
  font-family: "galano_grotesquesemibold";
  font-size: 20px;
  margin-top: 15px;
}
@media screen and (min-width: 1200px) {
  html body section.zyxel-lte .frame .text .title {
    font-size: 28px;
  }
}
html body section.zyxel-lte .frame .text .content {
  margin-top: 15px;
}
@media screen and (min-width: 1200px) {
  html body section.zyxel-lte .frame .text .content {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  html body section.zyxel-lte .frame .text {
    flex: 3;
  }
}
@media screen and (min-width: 768px) {
  html body section.zyxel-lte .frame {
    display: flex;
    height: 100%;
    width: 90%;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  html body section.zyxel-lte {
    background-image: url(../../../assets/solutions/5G_solution_page/zyxel_lte_bg.jpg);
    background-size: cover;
    background-position: right;
    height: 50vw;
    padding: 0;
  }
}
html body section.featured-products {
  padding: 30px 0;
}
html body section.featured-products .frame {
  width: 90%;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}
html body section.featured-products .frame p.title {
  color: #575757;
  font-family: "galano_grotesquesemibold";
  font-size: 24px;
}
@media screen and (min-width: 992px) {
  html body section.featured-products .frame p.title {
    font-size: 36px;
  }
}
@media screen and (min-width: 992px) and (min-width: 1200px) {
  html body section.featured-products .frame p.title {
    font-size: 52px;
  }
}
html body section.featured-products .frame .product-wrap {
  width: 100%;
}
html body section.featured-products .frame .product-wrap .product {
  display: inline-block;
  margin-top: 30px;
  position: relative;
}
html body section.featured-products .frame .product-wrap .product .product-img {
  width: 220px;
  height: 220px;
  overflow: hidden;
  background-color: black;
  margin-bottom: 10px;
  overflow: hidden;
}
html body section.featured-products .frame .product-wrap .product .product-img img {
  width: 100%;
  display: block;
  transition: all 0.2s ease;
}
@media screen and (min-width: 1200px) {
  html body section.featured-products .frame .product-wrap .product .product-img {
    width: 300px;
    height: 300px;
  }
}
html body section.featured-products .frame .product-wrap .product .product-name {
  color: #575757;
  font-family: "galano_grotesquesemibold";
}
html body section.featured-products .frame .product-wrap .product .model-name {
  color: #575757;
}
html body section.featured-products .frame .product-wrap .product:hover {
  text-decoration: none;
}
html body section.featured-products .frame .product-wrap .product:hover:after {
  content: " ";
  width: 300px;
  height: 33px;
  left: calc(50% - 150px);
  top: 100px;
  background-image: url(../../../assets/solutions/5G_solution_page/quick_view.png);
  background-size: contain;
  background-position: center;
  position: absolute;
}
@media screen and (min-width: 1200px) {
  html body section.featured-products .frame .product-wrap .product:hover:after {
    top: 144px;
  }
}
@media screen and (min-width: 992px) {
  html body section.featured-products .frame .product-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
  }
}
html body section.featured-products .frame a.button {
  color: white;
  background-color: #0079ff;
  padding: 5px 15px;
  border-radius: 15px;
  display: inline-block;
  margin-top: 25px;
}
html body section.featured-products .frame a.button:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
}
@media screen and (min-width: 992px) {
  html body section.featured-products .frame a.button {
    margin-top: 55px;
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) and (min-width: 1200px) {
  html body section.featured-products .frame a.button {
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 5vw;
  }
}
@media screen and (min-width: 992px) {
  html body section.featured-products {
    padding: 60px 0;
  }
}
html .overflow {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  html .content, html .button {
    font-size: 18px;
  }
}

/*# sourceMappingURL=Style.css.map */
