* {
  box-sizing: border-box;
}

@keyframes icn-float {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}

html{
	font-size: 16px;
	font-family: "galano_grotesqueregular", Helvetica, Arial, sans-serif;
	body{
		section.banner{
			height: 70vw;
			background-image: url(../../assets/5G_solution_page/5g_homepage_banner_640x500_191226.jpg);
			background-size: cover;
			background-position: center;
			@media screen and (min-width: 768px) {
				background-image: url(../../assets/5G_solution_page/5g_homepage_banner_1920x982_191226.jpg);
				height: 50vw;
			}
		}
		nav.second-nav{
			background-color: #eeeeee;
			width: 100%;
			overflow-x: scroll;
			padding: 10px 0;
			ul{
				width: max-content;
				margin: auto;
				li{
					display: inline-block;
					padding: 0 5px;
					a{
						color: #575757;
						border-radius: 7px;
						padding: 5px 10px;
						display: inline-block;
					}
					.active{
						background-color: #00b2ff;
						color: black;
					}
				}
			}
		}
		.navScrolled {
		  position: fixed;
		  top: 0;
		  z-index: 1234;
		}
		section.brief{
			background-color: #f9f7f7;
			padding-top: 20px;
			padding-bottom: 30px;
			.frame{
				width: 90%;
				margin: auto;
				max-width: 1450px;
				.title{
					color: #575757;
					font-family: 'galano_grotesquesemibold';
					font-size: 24px;
					@media screen and (min-width: 1200px) {
						font-size: 32px;
						@media screen and (min-width: 1400px) {
							font-size: 42px;
						}
					}
				}
				.content{
					color: #575757;
					margin-top: 15px;
					@media screen and (min-width: 992px) {
						margin-top: 25px;
						line-height: 22px;
					}
				}
			}
			@media screen and (min-width: 992px) {
				padding: 60px 0;
				@media screen and (min-width: 1200px) {
					padding: 110px 0;
				}
			}
		}
		section.solution-benifits{
			padding: 30px 0;
			.frame{
				width: 90%;
				margin: auto;
				max-width: 1700px;
				.title{
					color: #575757;
					text-align: center;
					font-family: 'galano_grotesquesemibold';
					font-size: 28px;
					@media screen and (min-width: 992px) {
						font-size: 36px;
						@media screen and (min-width: 1200px) {
							font-size: 52px;
							padding: 20px 0;
						}
					}
				}
				.box-wrap{
					margin-top: 15px;
					.box{
						margin-top: 30px;
						img{
							width: 100%;
						}
						.text{
							margin-top: 15px;
							.title{
								color: black;
								font-size: 20px;
								text-align: left;
								@media screen and (min-width: 1200px) {
									font-size: 28px;
									padding: 10px 0;
								}
							}
							.content{
								margin-top: 15px;
								@media screen and (min-width: 1200px) {
									line-height: 22px;
								}
							}
						}
						@media screen and (min-width: 768px) {
							width: 48%;
							@media screen and (min-width: 1200px) {
								width: 42%;
							}
						}
					}
					.left, .right{
						max-width: 590px;
					}
					.left{
						@media screen and (min-width: 1400px) {
							margin-right: 40px;
						}
					}
					.right{
						@media screen and (min-width: 1400px) {
							margin-left: 40px;
						}
					}
					.down{
						img{
							@media screen and (min-width: 768px) {
								width: 50%;
							}
						}
						.text{
							@media screen and (min-width: 768px) {
								padding-right: 25px;
								align-self: center;
							}
						}
						@media screen and (min-width: 768px) {
							width: 100%;
							display: flex;
							flex-direction: row-reverse;
							@media screen and (min-width: 992px) {
								margin-top: 60px;
							}
						}
					}
					@media screen and (min-width: 768px) {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						@media screen and (min-width: 1200px) {
							justify-content: space-around;
							@media screen and (min-width: 1400px) {
								justify-content: center;
							}
						}
					}
				}//box-wrap
			}
			@media screen and (min-width: 768px) {
				background: rgb(255,255,255); /* Old browsers */
				background: -webkit-linear-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(220,220,220,1) 100%);
				background: -o-linear-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(220,220,220,1) 100%);
				background: linear-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(220,220,220,1) 100%);
				@media screen and (min-width: 992px) {
					padding: 60px 0;
				}
			}
		}//solution-benifis
		section.sn-nsa{
			padding-bottom: 40px;
			.frame{
				height: 100%;
				.image{
					height: 78vw;
					background-image: url(../../assets/5G_solution_page/sa_nsa_dual_mode_image.png);
					background-size: cover;
					background-position: left;
					@media screen and (min-width: 768px) {
						display: none;
					}
				}
				.text{
					width: 90%;
					margin: auto;
					margin-top: 15px;
					max-width: 900px;
					.title{
						font-family: 'galano_grotesquesemibold';
						font-size: 20px;
						@media screen and (min-width: 1200px) {
							font-size: 28px;
						}
					}
					.content{
						margin-top: 15px;
					}
					.button{
						background-color: #00b2ff;
						color: white;
						font-family: 'galano_grotesquesemibold';
						padding: 6px 15px;
						padding-right: 25px;
						display: inline-block;
						border-radius: 10px;
						margin-top: 15px;
						.arrow{
							position: relative;
							&:before{
								position: absolute;
								top: -14px;
								left: 5px;
								animation: icn-float 1s linear infinite;
							}
						}
						@media screen and (min-width: 1200px) {
							margin-top: 25px;
							padding: 10px 25px;
    						padding-right: 34px;
						}
					}
					@media screen and (min-width: 768px) {
						width: 50%;
						margin: initial;
						@media screen and (min-width: 992px) {
							align-self: center;
							width: 58%;
							@media screen and (min-width: 1200px) {
								width: 55%;
								padding-bottom: 20px;
							}
						}
					}
				}//text
				@media screen and (min-width: 768px) {
					display: flex;
					justify-content: flex-end;
					width: 90%;
					margin: auto;
				}
			}//frame
			@media screen and (min-width: 768px) {
				background-image: url(../../assets/5G_solution_page/sa_nsa_dual_mode_image.png);
				background-size: 73%;
				background-repeat: no-repeat;
				padding: 40px 0;
				@media screen and (min-width: 992px) {
					background-size: 80%;
					height: 44vw;
					background-position-x: -30%;
				}
			}
		}//sn-nsa
		section.sn-nsa-hidden{
			background-color: white;
			.switch-wrap{
				background-color: #00b2ff;
				ul.switch{
					width: 100%;
					background-color: #00b2ff;
					display: flex;
					max-width: 1060px;
					margin: auto;
					li{
						flex: 1;
						text-align: center;
						background-color: #004fee;
						a{
							color: white;
							font-family: 'galano_grotesquesemibold';
							font-size: 18px;
							display: block;
							padding: 10px 0;
							position: relative;
							@media screen and (min-width: 1200px) {
								font-size: 24px;
							}
						}
						.active{
							background-color: #0079ff;
							&:after{
								content: ' ';
								position: absolute;
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 10px 10px 0 10px;
								border-color: #0079ff transparent transparent transparent;
								top: 100%;
								left: calc(50% - 10px);
							}
						}
					}
				}//switch
			}
			.panel{
				padding: 30px 0 20px 0;
				.frame{
					width: 90%;
					margin: auto;
					max-width: 1200px;
					margin: auto;
					.title{
						color: #575757;
						font-family: 'galano_grotesquesemibold';
						font-size: 26px;
						@media screen and (min-width: 1200px) {
							font-size: 38px;
						}
					}
					img{
						width: 100%;
					}
					img.intro{
						@media screen and (min-width: 768px) {
							width: 70%;
							max-width: 600px;
							margin-top: 30px;
						}
					}
					.structure-img{
						margin-top: 15px;
						@media screen and (min-width: 1200px) {
							margin-top: 55px;
						}
					}
				}
				@media screen and (min-width: 1200px) {
					padding: 60px 0;
				}
			}//panel
		}//sn-nsa-hidden
		section.nr-solution{
			padding-bottom: 40px;
			.frame{
				.image{
					height: 100vw;
					background-image: url(../../assets/5G_solution_page/5g_nr_solution_diagram_01.jpg);
					background-size: cover;
					background-position: right;
					@media screen and (min-width: 768px) {
						display: none;
					}
				}
				img.intro-img{
					display: block;
					width: 90%;
					margin: auto;
					margin-top: 14px;
					@media screen and (min-width: 768px) {
						display: none;
					}
				}
				.text{
					width: 90%;
					margin: auto;
					margin-top: 15px;
					.title{
						font-family: "galano_grotesquesemibold";
    					font-size: 20px;
    					@media screen and (min-width: 1200px) {
    						font-size: 28px;
    					}
					}
					.content{
						margin-top: 15px;
						@media screen and (min-width: 1200px) {
    						margin-top: 24px;
    					}
					}
					img.intro-img{
						width: 100%;
						margin-top: 15px;
						display: none;
						max-width: 550px;
						@media screen and (min-width: 768px) {
							display: block;
							@media screen and (min-width: 992px) {
								margin-top: 5vw;
								@media screen and (min-width: 1200px){
									margin-top: 8vw;
									margin-left: 0;
								}
							}	
								
						}
					}
					@media screen and (min-width: 768px) {
						width: 50%;
						margin: initial;
						@media screen and (min-width: 992px) {
							align-self: center;
						}
					}
				}
				@media screen and (min-width: 768px) {
					display: flex;
					width: 90%;
					margin: auto;
					@media screen and (min-width: 992px) {
						height: 100%;
					}
				}
			}//frame
			@media screen and (min-width: 768px) {
				background-image: url(../../assets/5G_solution_page/5g_nr_solution_diagram_01.jpg);
				background-size: cover;
				background-position: right;
				padding: 40px 0;
				@media screen and (min-width: 992px) {
					height: 50vw;
				}
			}
		}//section.nr-solution
		section.scenarios-mobile{
			.cat{
				background-color: #003eab;
				text-align: center;
				padding: 10px;
				.title{
					color: white;
					text-align: center;
					font-family: 'galano_grotesquesemibold';
					font-size: 28px;
					padding: 15px 0;
				}
				.img{
					width: 150px;
					height: 150px;
					background-image: url(../../assets/5G_solution_page/5g_nr_solution_3house_icon_01.png);
					background-size: cover;
					display: block;
					margin: auto;
					border: 3px solid white;
					margin-top: 10px;
				}
				.name{
					color: white;
					padding: 7px;
					font-family: 'galano_grotesquesemibold';
				}
				i{
					color: white;
					animation: icn-float 1s linear infinite;
				}
			}
			.indoor{
				.img{
					background-image: url(../../assets/5G_solution_page/5g_nr_solution_3house_icon_02.png);
				}
			}
			.basement{
				.img{
					background-image: url(../../assets/5G_solution_page/5g_nr_solution_3house_icon_03.png);
				}
			}
			.scenario-outdoor-img{
				height: 60vw;
				background-image: url(../../assets/5G_solution_page/5g_nr_solution_diagram_02.jpg);
				background-size: 180%;
    			background-position: 10% bottom;
			}
			.scenario-indoor-img{
				height: 83vw;
				background-image: url(../../assets/5G_solution_page/5g_nr_solution_diagram_03.jpg);
				background-size: 177%;
			    background-position-x: right;
			    background-repeat: no-repeat;
			}
			.scenario-basement-img{
				height: 72vw;
				background-image: url(../../assets/5G_solution_page/5g_nr_solution_diagram_04.jpg);
				background-size: cover;
			}
			.intro-img{
				display: block;
				width: 90%;
				margin: auto;
				margin-top: 15px;
			}
			.cat-description{
				padding: 5%;
				p.title{
					font-family: 'galano_grotesquesemibold';
					font-size: 18px;
				}
				p.content{
					margin-top: 10px;
				}
			}
			@media screen and (min-width: 768px) {
				display: none;
			}
		}//section.scenarios-mobile
		section.scenarios{
			display: none;
			background-color: #003eab;
			padding: 25px 0;
			.frame{
				width: 80%;
				margin: auto;
				.title{
					color: white;
					text-align: center;
					font-family: 'galano_grotesquesemibold';
					font-size: 28px;
					@media screen and (min-width: 992px) {
						font-size: 36px;
						@media screen and (min-width: 1200px) {
							font-size: 52px;
						}
					}	
				}
				.cat-wrap{
					margin-top: 25px;
					.cat{
						text-align: center;
						outline: none;
						cursor: pointer;
						.img{
							width: 150px;
							height: 150px;
							border: 3px solid white;
							margin: auto;
							@media screen and (min-width: 1200px) {
								width: 24vw;
								height: 23vw;
								max-width: 352px;
								max-height: 325px;
							}
						}
						.name{
							color: white;
							padding: 7px;
							font-family: 'galano_grotesquesemibold';
							@media screen and (min-width: 1200px) {
								font-size: 24px;
							}
						}
						i{
							color: white;
							animation: icn-float 1s linear infinite;
							@media screen and (min-width: 1200px) {
								font-size: 24px;
							}
						}
						&:hover{
							.img{
								border: 3px solid #ffc800;
								transition: all 0.2s ease;
							}
							.name, i{
								color: #ffc800;
								transition: all 0.2s ease;
							}
						}
					}
					.slick-current{
						.img{
							border-color: #ffc800;
						}
						.name, i{
							color: #ffc800;
						}
					}
					.outdoor .img{
						background-image: url(../../assets/5G_solution_page/5g_nr_solution_3house_icon_01.png);
						background-size: cover;
					}
					.indoor .img{
						background-image: url(../../assets/5G_solution_page/5g_nr_solution_3house_icon_02.png);
						background-size: cover;
					}
					.basement .img{
						background-image: url(../../assets/5G_solution_page/5g_nr_solution_3house_icon_03.png);
						background-size: cover;
					}
					@media screen and (min-width: 992px) {
						margin-top: 5vw;
					}
				}//cat-wrap
			}
			@media screen and (min-width: 768px) {
				display: block;
				@media screen and (min-width: 992px) {
					padding: 40px 0;
					@media screen and (min-width: 1200px) {
						padding: 60px 0;
					}	
				}	
					
			}
		}
		section.scenarios-panel{
			display: none;
			.outdoor{
				width: 100%;
				background-image: url(../../assets/5G_solution_page/5g_nr_solution_diagram_02.jpg);
				background-size: cover;
				background-position-x: 110%;
				background-repeat: no-repeat;
				height: 50vw;
				.frame{
					width: 90%;
					height: 100%;
					margin: auto;
					display: flex;
					justify-content: flex-end;
					align-items: center;
					position: relative;
					.text{
						width: 47%;
						img.intro-img{
							position: absolute;
							width: 300px;
							right: 0;
							bottom: 40px;
							@media screen and (min-width: 1200px) {
								width: 400px;
							}
						}
					}
				}	
					
			}
			.indoor{
				width: 100%;
				background-image: url(../../assets/5G_solution_page/5g_nr_solution_diagram_03.jpg);
				background-size: cover;
				background-repeat: no-repeat;
				height: 50vw;
				.frame{
					width: 90%;
					height: 100%;
					margin: auto;
					display: flex;
					align-items: center;
					.text{
						width: 40%;
						img{
							width: 200px;
							margin-top: 60px;
							@media screen and (min-width: 1200px) {
								width: 300px;
							}
						}
					}
				}
			}
			.basement{
				width: 100%;
				background-image: url(../../assets/5G_solution_page/5g_nr_solution_diagram_04.jpg);
				background-size: cover;
				background-repeat: no-repeat;
				height: 50vw;
				.frame{
					width: 90%;
					height: 100%;
					margin: auto;
					display: flex;
					align-items: flex-end;
					justify-content: flex-end;
					position: relative;
					.text{
						width: 40%;
						padding-bottom: 5%;
						img{
							width: 300px;
							position: absolute;
							right: 0;
							top: 39%;
							@media screen and (min-width: 1200px) {
								width: 400px;
							}
						}
						p.content{
							margin-top: 5px;
						}
						@media screen and (min-width: 1400px) {
							padding-bottom: 10%;
						}
					}
				}
			}
			p.title{
				font-family: 'galano_grotesquesemibold';
				font-size: 18px;
				@media screen and (min-width: 1200px) {
					font-size: 28px;
				}
			}
			p.content{
				margin-top: 25px;
			}
			@media screen and (min-width: 768px) {
				display: block;
			}
		}
		section.zyxel-lte{
			background-color: #f2f2f2;
			padding: 20px 0;
			.frame{
				img.mobile-img{
					width: 100%;
					@media screen and (min-width: 768px) {
						display: none;
					}
				}
				.image{
					display: none;
					img{
						@media screen and (min-width: 768px) {
							width: 56%;
							@media screen and (min-width: 1200px) {
								width: 62%;
							}
						}
					}
					@media screen and (min-width: 768px) {
						display: block;
						flex: 2;
						display: flex;
						align-items: flex-end;
						justify-content: flex-end;
						padding-right: 40px;
						@media screen and (min-width: 1200px) {
							padding: 0;
							margin-right: 6vw;
						}
					}
				}
				.text{
					width: 90%;
					margin: auto;
					.title{
						font-family: 'galano_grotesquesemibold';
						font-size: 20px;
						margin-top: 15px;
						@media screen and (min-width: 1200px) {
							font-size: 28px;
						}
					}
					.content{
						margin-top: 15px;
						@media screen and (min-width: 1200px) {
							margin-top: 20px;
						}
					}
					@media screen and (min-width: 768px) {
						flex: 3;
						@media screen and (min-width: 1200px) {
							// padding-left: 30px;
						}
					}
				}
				@media screen and (min-width: 768px) {
					display: flex;
					height: 100%;
					width: 90%;
					margin: auto;
				}
			}//frame
			@media screen and (min-width: 768px) {
				background-image: url(../../assets/5G_solution_page/zyxel_lte_bg.jpg);
				background-size: cover;
				background-position: right;
				height: 50vw;
				padding: 0;
			}
		}//section.zyxel-lte
		section.featured-products{
			padding: 30px 0;
			.frame{
				width: 90%;
				text-align: center;
				max-width: 1200px;
				margin: auto;
				p.title{
					color: #575757;
				    font-family: 'galano_grotesquesemibold';
				    font-size: 24px;
				    @media screen and (min-width: 992px) {
				    	font-size: 36px;
				    	@media screen and (min-width: 1200px) {
					    	font-size: 52px;
					    }
				    }
				}
				.product-wrap{
					width: 100%;
					a.product{
						display: inline-block;
						margin-top: 30px;
						position: relative;
						.product-img{
							width: 220px;
							height: 220px;
							overflow: hidden;
							background-color: black;
							margin-bottom: 10px;
							overflow: hidden;
							img{
								width: 100%;
								display: block;
								transition: all 0.2s ease;
							}
							@media screen and (min-width: 1200px) {
								width: 300px;
								height: 300px;
							}
						}//product-img
						.product-name{
							color: #575757;
							font-family: 'galano_grotesquesemibold';
						}
						.model-name{
							color: #575757;
						}
						&:hover{
							img{
								opacity: 0.5;
							}
						}
					}//product
					.product:hover{
						&:after{
							content: ' ';
							width: 200px;
							height: 32px;
							left: calc(50% - 100px);
							top: 100px;
							background-image: url(../../assets/5G_solution_page/quick_view.png);
							background-size: contain;
							background-position: center;
							position: absolute;
							@media screen and (min-width: 1200px){
								top: 144px;
							}
						}
					}
					@media screen and (min-width: 992px) {
					    display: flex;
					    justify-content: space-between;
					    margin-top: 2vw;

					}
				}//product-wrap
				a.button{
					color: white;
					background-color: #0079ff;
					padding: 5px 15px;
					border-radius: 15px;
					display: inline-block;
					margin-top: 25px;
					&:hover{
						transform: scale(1.05);
						transition: all 0.2s ease; 
					}
					@media screen and (min-width: 992px) {
						margin-top: 55px;
						font-size: 18px;
						@media screen and (min-width: 1200px) {
							padding: 10px 30px;
    						border-radius: 20px;
    						margin-top: 5vw;
						}
					}
				}
			}
			@media screen and (min-width: 992px) {
				padding: 60px 0;
			}
		}//section.featured-products
	}
	@media screen and (min-width: 1200px) {
		font-size: 18px;
	}
}